html(lang='en')
  head
    title Cookier
    link(href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet")
    style 
      include styles.css
  body
    .center
      .cookie
        img(src="cookie.png")
      .text
        h1 Here is your cookie!
        h3 #{cookienumber}